[build]
  command = "npm run build"
  publish = "dist"

[functions]
  directory = "../netlify/functions"
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/bonnetid-today"
  to = "/.netlify/functions/bt-today"
  status = 200
  force = true

[[redirects]]
  from = "/api/bonnetid-today2"
  to = "/.netlify/functions/bt-today"
  status = 200
  force = true

[[redirects]]
  from = "/api/aladhan-today"
  to = "/.netlify/functions/aladhan-today"
  status = 200
  force = true

[[redirects]]
  from = "/api/bonnetid-month"
  to = "/.netlify/functions/bt-month"
  status = 200
  force = true

[[redirects]]
  from = "/api/bonnetid-health"
  to = "/.netlify/functions/bonnetid-health"
  status = 200
  force = true
