[build]
  base = "frontend"
  command = "npm run build"
  publish = "dist"

[functions]
  directory = "../netlify/functions"
  node_bundler = "esbuild"

[[plugins]]
  package = "@netlify/plugin-functions-install-core"

[[redirects]]
  from = "/api/aladhan-today"
  to = "/.netlify/functions/aladhan-today"
  status = 200
  force = true

[[redirects]]
  from = "/api/aladhan-month"
  to = "/.netlify/functions/aladhan-month"
  status = 200
  force = true
